<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FundMyWay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="cards.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
     <!---- Navbar-->
     <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" id="mainNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="logo">FundMyWay</span>
      </a>
  <button class="navbar-toggler navbar-toggler-right" 
      type="button" data-toggle="collapse" data-target="#navbarResponsive" 
      aria-controls="navbarResponsive" aria-expanded="false" 
      aria-label="Toggle navigation">Menu
      <i class="fas fa-bars ml-1"></i>
   </button>
<div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav text-uppercase ml-auto">
  <li class="nav-item">
<a class="nav-link js-scroll-trigger" href="#home">Home</a></li>
<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>

<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="#about">About</a></li>
<li class="nav-item">
<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="#blog">Contact</a></li>
<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="#contact">Login/SignUp</a></li>
</ul>
</div>
</nav>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "http://localhost:4200/assets/donate logo.jpg" alt = "shoe image">
              <img src = "http://localhost:4200/assets/fundrasing logo.jpg" alt = "shoe image">
              <img src = "http://localhost:4200/assets/Fundraising-Tree.jpg" alt = "shoe image">
              <img src = "http://localhost:4200/assets/fundrasing logo.jpg" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "http://localhost:4200/assets/Fundraising-Ideas.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "http://localhost:4200/assets/Fundraising-Ideas.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "http://localhost:4200/assets/Fundraising-Ideas.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "http://localhost:4200/assets/Fundraising-Ideas.jpg" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">Donate here</h2>

          <div class = "product-price">
            <p class = "last-price">Past Donation: <span>$10.00</span></p>
            <p class = "new-price">New Donation: <span>$5.00 (50%)</span></p>
          </div>

          <div class = "product-detail">
            <h2>We have your back.</h2>
            <p>With one-quarter of our global team dedicated to trust and safety, we’ve successfully
               managed fundraisers worldwide for more than a decade. Don’t worry about a thing, we’ve got you covered.</p>
            <p>It's not the amount that matters but the meaning behind your donation. 
              Giving a little is better than not giving at all. Even the smallest gift to charity can make a huge impact.
               The efforts of one person can't move mountains.</p>
            <ul>
              <li>Leadership: <span>Strengthen Relationships and Support.</span></li>
              <li>Marketing: <span>Raise Awareness About Your Cause.</span></li>
              <li>Category: <span>Build Your Donor Base.</span></li>
              <li>Sales: <span>All over the world</span></li>
              <li>Free: <span>Practice the Fundraising Event:</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1">
            <a href = "/individual-fundrasier-page">
            <button type = "button" class = "btn">
              Donate <i class = "fas fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
            </button>
          </a>
            <button type = "button" class = "btn">Compare</button>
          </div>

          <div class = "social-links">
            <p>Share At: </p>
            <a href = "https://www.facebook.com/" target="_blank">
              <i class = "fab fa-facebook-f"></i>
            </a>
            <a href = "https://twitter.com/" target="_blank">
              <i class = "fab fa-twitter"></i>
            </a>
            <a href = "https://www.instagram.com/" target="_blank">
              <i class = "fab fa-instagram"></i>
            </a>
            <a href = "https://www.whatsapp.com/" target="_blank">
              <i class = "fab fa-whatsapp"></i>
            </a>
            <a href = "https://www.pinterest.com/" target="_blank">
              <i class = "fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    
    <script src="script.js"></script>

    <!-- About-->
<section class="about-section mt-5" id="about">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">
            The most effective way to DO IT is to DO It</h3>
      </div>
      <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
             <img src="http://localhost:4200/assets/landscape.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" 
          data-aos="fade-left">
            <h3>Its not how much we give, but how much love we put in giving</h3>
            <p>Money is not the only commodity that is fun to give. We can give time, we can give our expertise, we can give our love, or simply give a smile. What does that cost? The point is, none of us can ever run out of something worthwhile to give.</p>
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="fas fa-file-invoice-dollar"></i></div>
              <h4 class="title"><a href="">Money Donation</a></h4>
              <p class="description">When we donate to a charitable organization, we help make the difference we're unable to provide with our own hands. Consequently, social impact organizations don't just work to achieve their mission.
                they also empower individuals to effect change. They mobilize people to play a part in making the world a better place</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="fas fa-gifts"></i></div>
              <h4 class="title"><a href="">Gift Donation</a></h4>
              <p class="description">Donation is when you are giving away money/kind for charitable purposes or to a political party. A gift 
                or a present is an item given to someone without the expectation of payment or return.Research has shown that giving usually makes people feel some kind of happiness, even if that giving requires a small sacrifice. 
                It has also been demonstrated that happy people tend to give more.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="fas fa-mug-hot"></i></div>
              <h4 class="title"><a href="">Dine for free food</a></h4>
              <p class="description">Oxfam International is a global development organization mobilizing the power of people against poverty. It serves as an international confederation consisted of 19
                 organizations that work together with local communities in around 90 countries. Beyond this initial benefit, charitable giving has a “ripple effect” that impacts local economies in communities across the U.S. Nonprofit organizations create jobs, 
                 teach valuable skills to clients and volunteers, and increase the overall quality of life.</p>
            </div>

          </div>
        </div>

      </div>
    </section>

<!-- End Contact Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact mt-5">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact Information</h2>
      <h3 class="section-subheading text-muted">
          Free free to email us with any Information you need
      </h3>
  </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 info">
            <i class="fas fa-map"></i>
            <h4>Address</h4>
            <p>lorem ipsum Street,<br>Sao Paulo, SP 456879</p>
          </div>
          <div class="col-lg-6 info">
            <i class="fas fa-phone"></i>
            <h4>Call Us</h4>
            <p>+55 61 12365478<br>+55 61 23154687</p>
          </div>
          <div class="col-lg-6 info">
            <i class="fas fa-envelope"></i>
            <h4>Email Us</h4>
            <p>contact@test.com<br>test@example.com</p>
          </div>
          <div class="col-lg-6 info">
            <i class="fas fa-clock"></i>
            <h4>Working Hours</h4>
            <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
          </div>
        </div>
      </div>
        <div class="col-lg-6">
        <form>
          <div class="form-group">
            <input placeholder="Your Name" type="text" name="name" 
            class="form-control">
             </div>
          <div class="form-group">
            <input placeholder="Your Email" type="email" class="form-control"
             name="email">
              </div>
          <div class="form-group">
            <input placeholder="Subject" type="text" class="form-control" 
            name="subject">
            </div>
          <div class="form-group">
            <textarea placeholder="Message" class="form-control" 
            name="message" rows="5"></textarea>
            <div class="validate"></div>
          </div>
            <div class="text-center">
              <button type="submit" 
              class="btn btn-danger rounded-cor">Send Message</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
 <!-- ======= Footer ======= -->
 <footer class="mt-5" id="footer">
  <div class="container d-md-flex py-4">
  <div class="mr-md-auto text-center text-md-left">
    <div class="copyright">
      &copy; Copyright <strong><span>Care For</span></strong>. All Rights Reserved
    </div>
     </div>
  <div class="social-links text-center text-md-right pt-3 pt-md-0">
    <ul class="social">
      <li class="list-item">
        <a class="list-link" href="https://www.facebook.com/" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="list-item">
        <a class="list-link" href="https://www.twitter.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-item">
        <a class="list-link" href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="list-item">
        <a class="list-link" href="https://www.linkedin.com/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
   </div>
</div>
</footer><!-- End Footer -->
  <body ></body>
