<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      href="css/loginpage.component.css"
      type="text/css"
      real="stylesheet"
    />
  </head>
  <body>
    <div class="container bg">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="text-center">
              <h3>Welcome to Fundraiser</h3>
              <h4>Please log in here:</h4>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email Address</label>
              <input
                type="email"
                class="form-control ng-untouched ng-pristine ng-valid"
                [(ngModel)]="email"
              /><br />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="password"
              /><br />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Remember me</label
              >
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">
              LOG IN
            </button>
            <p>New User? <a routerLink="/signup"> Sign up</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
