
<html>
<head>
      <meta charset=" utf-8">
      <meta name="viewport" content ="width = device-width, initial-scale=1">
      <title> Payment getway for the fundraiser</title>
      <link rel="stylesheet" type="text/css" href = "individual-fundraiser.css">
</head>
<body>
  <header>
      <div class = "container">
            <div class = "left"> 
                  <h3>BILLING INFORMATION</h3>
            <form>
                  First name
                  <input type="text" id="fname" placeholder="Enter first name" >
                  Last name
                  <input type="text" name="" placeholder="Enter last name">
                  Email
                  <input type="text" name="" placeholder="Enter Email">
                  Address
                  <input type="text" name="" placeholder="Enter Address">
                  Contact number
                  <input type="text" name="" placeholder="Enter Contact number">
                  <div id = "zip">
                        <label>
                              State
                              <select>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                              </select>
                        </label>
                        <label>
                              Zip code 
                              <input type ="number" name="" placeholder ="Zip code">
                        </label>
                  </div>
            </form>
            </div>
            <div class = "right"> 
                  <h3>PAYMETN INFORMATION</h3>
                  <form>
                        Accepted Cards
                        <div>
                              <img src = "http://localhost:4200/assets/Mastercard-Symbol.jpg" alt = "image" width = "80">
                              <img src = "http://localhost:4200/assets/visa-logo.png" alt = "image" width = "80">
                              <img src = "http://localhost:4200/assets/Paypal logo.jpg" alt = "image" width = "80">
                                
                          </div>
                        
                        Card holder Name
                        <input type="text" name="" placeholder="Enter Card holder Name">
                        Credit card number
                        <input type="text" name="" placeholder="Enter card number">
                        Exp month
                        <input type="text" name="" placeholder="Enter month">
                        <div id = "zip">
                              <label>
                                    Exp year
                                    <select>
                                   <option> Choose Year..</option>
                                   <option> 2022</option>
                                   <option> 2023</option>
                                   <option> 2024</option>
                                   <option> 2025</option>
                                   <option> 2026</option>
                                    </select>
                              </label>
                              <label>
                                    CVV
                                    <input type ="number" name="" placeholder ="CVV">
                              </label>
                        </div>
                  </form>
                  <a href="/cards">
                  <button  onclick="fn1()" >pay here</button>
            </a>
            </div>
      </div>
</header>
</body>
</html>